[submodule "predictor/N2M"]
	path = predictor/N2M
	url = git@github.com:clvrai/N2M.git
	branch = main
[submodule "predictor/N2M-mobipi"]
	path = predictor/mobipi
	url = git@github.com:cckaixin/N2M-mobipi.git
[submodule "predictor/N2M-lelan"]
	path = predictor/lelan
	url = git@github.com:cckaixin/N2M-lelan.git
[submodule "env/N2M-robocasa"]
	path = env/robocasa
	url = git@github.com:cckaixin/N2M-robocasa.git
[submodule "env/N2M-robosuite"]
	path = env/robosuite
	url = git@github.com:cckaixin/N2M-robosuite.git
[submodule "env/N2M-mimicgen"]
	path = env/mimicgen
	url = git@github.com:cckaixin/N2M-mimicgen.git
	branch = experimental/robocasa
[submodule "policy/N2M-robomimic"]
	path = policy/robomimic
	url = git@github.com:cckaixin/N2M-robomimic.git
	branch = robocasa