[submodule "env/robocasa"]
	path = env/robocasa
	url = git@github.com:cckaixin/robocasa.git
[submodule "env/robosuite"]
	path = env/robosuite
	url = https://github.com/ARISE-Initiative/robosuite.git
[submodule "env/mimicgen"]
	path = env/mimicgen
	url = https://github.com/NVlabs/mimicgen.git
	branch = experimental/robocasa
[submodule "policy/robomimic"]
	path = policy/robomimic
	url = git@github.com:cckaixin/robomimic.git
[submodule "baseline/n2m"]
	path = baseline/n2m
	url = git@github.com:clvrai/N2M.git
	branch = main
[submodule "baseline/mobipi"]
	path = baseline/mobipi
	url = git@github.com:yjy0625/mobipi.git

