.project__header {
    position: relative;
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.project__headerVideo {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: brightness(0.7);
}

.project__headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.project__headerMainTitle {
    font-size: 200px;
}

.project__headerSubTitle {
    font-size: 50px;
    text-align: center;
    line-height: normal;
}

.project__headerNavigator {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.project__headerNavigatorItem {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.project__headerNavigatorItem:hover {
    background-color: #0000001f;
    cursor: pointer;
}

.project__headerNavigatorItemTitle {
    font-size: 15px;
}

.project__additionalInfo {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 0;
}

.project__authors {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.project__authorsOneLine {
    display: flex;
    gap: 20px;
}

.project__author {
    font-size: 25px;
}

.project__affiliations {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.project__affiliation {
    font-size: 20px;
}

.project__materials {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.project__material {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border-radius: 100px;
}

.project__materialIcon {
    width: 25px;
}

.project__materialName {
    font-size: 20px;
}

.project__body {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.project__bodyContentTitle {
    font-size: 40px;
}

.project__bodyContentWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project__bodyContent {
    padding: 30px 0;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.project__overviewVideo {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__abstractText {
    font-size: 15px;
    text-align: justify;
}

.project__methodContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.project__methodContentTitle {
    font-size: 25px;
    width: 100%;
}

.project__methodContentText {
    text-align: center;
    font-size: 15px;
}

.project__methodDataCollectionBody {
    display: flex;
    align-items: center;
    gap: 50px;
}

.project__methodDataCollectionImage {
    width: 400px;
}

.project__methodDataCollectionPointCloudsWrapper {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    overflow-y: visible;
}

.project__methodDataCollectionPointClouds {
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

.project__methodDataCollectionPointCloud {
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.project__methodDataCollectionPointCloudsLeftArrow {
    left: 10px;
}

.project__methodDataCollectionPointCloudsRightArrow {
    left: 310px;
}

.project__methodDataCollectionPointCloudsArrow, .project__applicabilityVideosArrow, .project__dataEfficiencyArrow {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;
    transition: background-color 0.3s ease;
}

.project__methodDataCollectionPointCloudsArrow > svg, .project__applicabilityVideosArrow > svg, .project__dataEfficiencyArrow > svg {
    width: 20px;
    height: 20px;
}

.project__methodDataCollectionPointCloudsArrow:hover, .project__applicabilityVideosArrow:hover, .project__dataEfficiencyArrow:hover {
    cursor: pointer;
    background-color: #a3a3a3;
}

.project__keyFeature {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.project__keyFeatureTitle {
    font-size: 25px;
    width: 100%;
}

.project__egoCentricBody {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.project__egoCentricImage {
    width: 50%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__egoCentricTextBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__egoCentricText {
    font-size: 15px;
}

.project__realTimeVideos {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.project__realtimeVideo {
    width: 390px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__realTimeText {
    text-align: center;
    font-size: 15px;
}

.project__viewpointRobustnessVideo {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__viewpointRobustnessText {
    text-align: center;
    font-size: 15px;
}

.project__applicabilityMedias {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__applicabilityVideoWrapper, .project__applicabilityVideo {
    width: 400px;
}

.project__applicabilityVideoWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.project__applicabilityVideosLeftArrow {
    left: 10px;
}

.project__applicabilityVideosRightArrow {
    left: 360px;
}

.project__applicabilityVideos {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
    overflow-y: visible;
}

.project__applicabilityVideo {
    border-radius: 15px;
}

.project__applicabilityImage {
    width: 350px;
}

.project__applicabilityText {
    text-align: center;
    font-size: 15px;
}

.project__applicabilityTextFootnote {
    font-size: 12px;
}

.project__dataEfficiencyBodyWrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.project__dataEfficiencyLeftArrow {
    left: 10px;
}

.project__dataEfficiencyRightArrow {
    left: 760px;
}

.project__dataEfficiencyBodyContents {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: hidden;
}

.project__dataEfficiencyBody {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project__dataEfficiencyText {
    text-align: center;
    font-size: 15px;
}

.project__dataEfficiencyMedias {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project__dataEfficiencyExp3aVideo {
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__dataEfficiencyExp3bScenesImage, .project__dataEfficiencyExp3cScenesImage {
    width: 400px;
}

.project__dataEfficiencyExp3bGraphImage, .project__dataEfficiencyExp3cGraphImage {
    width: 350px;
}

.project__dataEfficiencyExp3aImage {
    width: 450px;
}

.project__dataEfficiencyExp4Medias, .project__dataEfficiencyExp5Medias {
    justify-content: center;
}

.project__dataEfficiencyExp4Image {
    width: 700px;
}

.project__dataEfficiencyExp5Video {
    width: 600px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.project__failureCasesBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__failureCasesText {
    font-size: 15px;
    text-align: justify;
}

.project__futureWorkBody {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__futureWorkText {
    font-size: 15px;
    text-align: justify;
}

.project__bibtexBody {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project__bibtexText {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}